.PageHeader {
    background-color: #006;
    color: #fff;
    text-transform: uppercase;
    height: 150px;
    
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }